{
  inputs = {
    flake-utils.url = "github:numtide/flake-utils";
    nixpkgs.url = "github:NixOS/nixpkgs/nixpkgs-unstable";
    INPUTS_HERE
  };
  outputs = { self, flake-utils, nixpkgs, ... }@inputs:
    flake-utils.lib.eachDefaultSystem (system:
      {
        devShells = {
          default = nixpkgs.legacyPackages.${system}.mkShell {
            buildInputs = [
              PACKAGES_HERE
            ];
          };
        };
      }
    )
  ;
}
